# General Files/Folders
*.docx
*test*
*__pycache__*

# testing cases
prototype_01.py
prototype_02.py

# Public Folders
*public*
# /other files

# Collaborater's code files
*manikesh*
*kushal*
*paramjeet*
*manikundan*